doctype html
html(lang="en")
    head
        link(href='/css/turimovil.min.css', rel='stylesheet')
        title="Administración Turimovil"
    body
        block content

        footer(id='footer', class='col-xs-12 text-center') Copyright @Turimovil 2016
        script(src='/js/turimovil.min.js')